@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,700&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap");
@import "tailwindcss";

@theme {
  --color-light: #ffffff;
  --color-green: #22c55e;
  --color-black: #1e1e1e;
  --color-light-brown: #f5ba53;
  --color-white: #f9f9f9;
  --font-dm-sans: DM Sans, "sans-serif";
}
